*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}


.font-inter{
    font-family: "Inter", sans-serif;
}
.font-way{
    font-family: "Raleway", sans-serif;
}


/* .last{
    border-width: max(1px, 0.1em);
    border-style: dashed;
    border-color: rgba(19, 19, 24, 0.05);
    margin-top: 24px;
    margin-bottom: 24px;
} */